@font-face {
  font-family: "STARWARS";
  src: url("../fonts/Rebellion.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
}
  #myCanvas {
    border: 1px solid red;
  }
button {
  background: transparent;
  border: none;
}
button:hover {
  h1 {
    color:red;
  }
}
  h1 {
    color: white;
    font-family: "STARWARS";
    padding: 0;
    margin: 0;
  }
  #time {
    margin-left: 90px;
  }
  #menu > li {
    // box-shadow: 5px 5px 5px blue;
    padding-top: 20px;
    list-style-type: none;
  }
#disclaimer, .about, .instructions{
  box-shadow: 5px 5px 5px red;
  height: 600px;
  img {
     width:100%;
     height:600px;
 }
}
.jumbotron {
  color: white;
  background: black;
  box-shadow: 5px 5px 5px red;
  height: 600px;
}

#bright-side {
  opacity: 0.5;
  float:left;
}
#dark-side {
    opacity: 0.5;
  float: right;
}
#dark-side:hover,
#bright-side:hover {
  img {
  width: 400px;
  height: 480px;
}
  opacity: 1;
}
